@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #000;
    --head-color: #3cff00;
    --main-color: #00b7ff;
    --foot-color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);  
    font-size: 20px;
}

section {
    min-height: 100%;
}

section2 {
    display: flex;
    min-height: 100%;
    background: radial-gradient(circle, #fff, #00b7ff);
}

section3 {
    display: relative;
    min-height: 100%;
    background-image: linear-gradient(#fff, #00b7ff, #fff);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 2.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    z-index: 1;
    cursor: default;
    margin-top: 1rem;
    margin-left: 5rem;
}

#menu {
    display: flex;
    font-size: 3.6rem;
    color: #112e42;
    cursor: pointer;
    margin-right: 3rem;
}

.sub-menu-wrap {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 350px;
    max-height: 0px;
    border-radius: 10%;
    overflow: hidden;
    transition: max-height 0.4s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #00b7ff;
    padding: 50px 15% 50px 10%;
    margin: 0;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 25px 0 20px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    font-size: 18px;
}

.sub-menu-link i {
    font-size: 25px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
    color: var(--foot-color);
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.navbar {
    position: flex;
    justify-content: center;
    width: 62%;
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
    background: #57cfff;
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--foot-color);
    margin-left: 4rem;
    transition: transform 0.2s;

}
  
.navbar a:hover,
.navbar a:active {
    color: var(--text-color);
}

.home {
    display: flex;
    align-items: center;
    padding: 13.5rem 10% 8rem;
    height: 100%;
    background-image: linear-gradient(to top, #fff, #00b7ff);
    background-size: cover;
    background-position: center;    
}

.home-img img {
    display: flex;
    width: 110%;
    shape-rendering: crispEdges;
    margin-right: 10rem;
    border-radius: 50%;
    transition: 0.2s ease;
}

.home-img:hover img {
    transform: scale(1.3);
}

.home-content h3{
    font-size: 2.3rem;
    font-weight: 600;
    color: #003152;
    text-shadow: 0 0 5px #00ffff;
}

.home-content h1 {
    font-size: 7.5rem;
    font-weight: 400;
    color: var(--head-color);
    text-shadow: 0.1rem 0 0 #000;
}

.home-content p {
    word-wrap: break-word;
    margin-right: 15rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 2.3rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    margin-top: 6rem;
}

.btn-box .btn {
    position: relative;
    display: flex;
    background: #57cfff;
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--hover-color);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn:hover {
    box-shadow: 0 0 1.5rem #1083b1;
}

.CLDB {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #00b7ff);
    background-size: cover;
    padding: 6rem 0 6rem;
    padding-left: 10rem;
}

.CLDB-img img {
    width: 38vw;
    shape-rendering: crispEdges;
    transition: 0.2s ease;
    margin-right: 5rem;
}

.CLDB-content h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--hover-color);
    margin-right: 4rem;
}

.CLDB-content p {
    margin-right: 10rem;
    color: var(--menu-color);
    font-weight: 600; 
}

.CLDB-btn-box {
    position: relative;
    display: flex;
    width: 34.5rem;
    height: 5rem;
    margin-top: 2rem;
    left: 0;
}

.CLDB-btn-box .btn {
    position: relative;
    display: flex;
    background: #57cfff;
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--hover-color);
    z-index: 1;
    overflow: hidden;
}

.CWD {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fff, #00b7ff);
    background-size: cover;
    padding: 6rem 0 6rem;
    padding-left: 10rem;
}

.CWD-content h1 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--hover-color);
    margin-right: 4rem;
    margin-left: 10rem; 

}

.CWD-content p {
    margin-right: 5rem;
    margin-left: 10rem;
    color: var(--menu-color);
    font-weight: 600;
}

.CWD-btn-box {
    position: relative;
    display: flex;
    justify-content: right;
    width: 34.5rem;
    height: 5rem;
    margin-top: 2rem;
}

.CWD-btn-box .btn {
    position: relative;
    display: flex;
    background: #57cfff;
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--hover-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.CWD-btn-box .btn:hover {
    box-shadow: 0 0 1.5rem #1083b1;
}

.pvd {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    padding: 6rem 0% 6rem;
}

.pvd-box1 {
    border: transparent;
    width: 75%;
    height: 75%;
    margin-left: 7rem;
    margin-right: 3.5rem;
}

.pvd-box2 {
    border: transparent;
    width: 75%;
    height: 75%;
    margin-right: 7rem;
    margin-left: 3.5rem;
}

.pvd-content {
    border-radius: 20%;  
}

.pvd-content h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #003152;
    padding: 2rem 0 2rem 0;
}

.pvd-content p {
    word-wrap: break-word;
    color: var(--menu-color);
    font-weight: 600;
    margin: 0 9% 0 9%;
}

.pd {
    background-image: linear-gradient(#00b7ff, #fff, #00b7ff);
}

.vp {
    background-image: linear-gradient(#fff, #00b7ff, #fff);
}

.pvd-btn-box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34.5rem;
    height: 5rem;
    margin: 4rem;
}

.pvd-btn-box .btn {
    position: relative;
    display: flex;
    background: #57cfff;
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--hover-color);
    z-index: 1;
    overflow: hidden;
}

.pvd-btn-box .btn:hover {
    box-shadow: 0 0 1.5rem #1083b1;
}

.vm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9rem 5%;
    color: var(--menu-color);
}

.vm-img img {
    width: 18%;
    shape-rendering: crispEdges;
}

.vm-content {
    padding: 5rem 0 0;
    font-size: 28px;
}

.vm-btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 34.5rem;
    height: 5rem;
    margin: 5rem 0 2rem 35.5%;
}

.vm-btn-box .btn {
    position: relative;
    display: flex;
    background: var(--main-color);
    box-shadow: 0 0 0.5rem #1083b1;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--hover-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.about {
    background-image: linear-gradient(to bottom, #ffffff, #00b7ff);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 6rem 9% 5rem 9%;
}

.about-content h1 {
    font-size: 4.5rem;
    padding: 2rem 0 2rem;
}

.about-content h3 {
    font-size: 2.5rem;
    font-weight: 550;
    padding: 0 0 2rem;
}

.about-content p {
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 2rem;
    color: var(--text-color);
}

.why {
    background-image: linear-gradient(#00b7ff, #fff, #00b7ff);
    color: var(--menu-color);
    padding: 15rem 0 4rem;
}
.why h1 {
    font-size: 34px;
    padding: 0.1rem 0 0.1rem 8%;
}

ul {
  font-size: 24px;
    word-wrap: break-word;
    list-style-type: disc;
    padding: 5rem 10%;
}
  
.bullet {
    display: flex;
    margin-left: 5px;
    padding: 1rem 0 2rem;
    color: var(--menu-color);  
}

.contact-section {
    min-height: 100%;
    display: flex;
    background: var(--second-bg-color);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contact-img img {
    display: flex;
    width: 35%;
    shape-rendering: crispEdges;
    margin-left: 14rem;
    border-radius: 50%;
}

.contact-info a {
    display: flex;
    color: var(--foot-color);
    max-width: 520px;
    padding: 1rem;
    padding-left: 11rem;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.contact-info i {
    padding: .2rem 9% ;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form h2 {
    color: var(--foot-color);
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: var(--text-color);
    color: var(--foot-color);
    border: none;
    width: calc(50.2% - 12px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rbga(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .number-box {
    background: var(--text-color);
    color: var(--foot-color);
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rbga(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 15px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form .number-box:first-child{
    margin-right: 15px;
}

.contact-form textarea {
    background: var(--text-color);
    color: var(--foot-color);
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rbga(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    align-items: center;
    background: var(--main-color);
    color: var(--text-color);
    border: .2rem solid var(--text-color);
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 4rem;
    cursor: pointer;
}

.alert-success {
    z-index: 1;
    background: #d4edda;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 4px;
}

.alert-error {
    z-index: 1;
    background: #fff3cd;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 4px;
}

span {
    color: var(--foot-color);
    text-shadow: 0.2rem 0 0 #00eeff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4%;
    background: var(--main-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
  display:  flex;
    font-size: 1.9rem;
    font-weight: 600;
}

.footer-iconTop {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: right;
    padding: 0.2rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(main-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 4rem;
    color: var(--foot-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--menu-color);
    z-index: 98;
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(0.3s / var(--i));
    animation: none;
}

.footer.show-animate .animate.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info img {
        margin-top: 10%;
        margin-left: 35%;
    }

    .contact-info a {
       padding: 1rem 10%;
    }

    .contact-form {
        margin: 10px 30px;
    }

    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form .text-box .number-box{
        width: 100%;
    }
}

@media (max-width: 850px) {
    .animate.home-img {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--menu-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--menu-color);
        box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.25s ease;
        transition-delay: 0.25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--menu-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: 0.25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform:translateX(0);
        transition-delay: 0.25s;
    }

    .home-imgHover:hover {
        pointer-events: none;
        background: var(--menu-color);
        opacity: 0.6;
    }
}

@media (max-width: 520px) {
html {
    font-size: 50%;
}

.home-content h1 {
    display: flex;
    flex-direction: column;
}

.home-sci {
    width: 160px;
}

.home-sci a {
    width: 38px;
    height: 38px;
}
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        font-size: 5rem;
    }
}
